<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header class="row justify-between align-center">
    <h3>Project Tracker</h3>

    <nav>
      <a href="/login">Log In</a>
      <span>or</span>
      <a href="/register">Register</a>
    </nav>
  </header>
  
  {{{body}}}
</body>
</html>