<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header class="row justify-between align-center">
    <h3>Project Tracker</h3>

    <nav class="row align-center">
      {{#if user}}
        <p class="mr-2">Welcome, {{user.email}}</p>
        <a href="/logout">Log Out</a>
      {{else}}
        <a href="/login" class="mr-2 {{#if login}}active{{/if}}">Log In</a>
        <span class="mr-2">or</span>
        <a href="/register" class="{{#if register}}active{{/if}}">Register</a>
      {{/if}}
    </nav>
  </header>
  
  {{{body}}}
</body>
</html>