<form class="column" action="/login" method="POST">
  <h2 class="text-center">Log In To Your Account</h2>
  <input name="email" type="email" placeholder="Enter your email address">
  <input type="password" name="password" placeholder="Enter your password">
  <button>Submit</button>
</form>